* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    margin: 0;
    height: 120vh;
}
.navbar-brand {
    background: transparent;
    background-color: inherit;
}

.navbar-brand img {
    height: 60px;
}

.sidebar {
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    width: 110px;
}


.navbar-brand 
{
    background: transparent;
    background-color: inherit;
    
}

.navbar-brand img
{
    height: 60px;
}

.sidebar
{
    position: sticky;
    top:0;
    left: 0;
    bottom: 0;
    width: 115px;
    height: 100vh;
    padding: 0 1.7rem;
    color: #fff;
    overflow: hidden;
    transition: all 0.5s linear;
    background-color: rgba(113, 99, 186, 255);
}


.logo
{
    height: 80px;
    padding: 16px;
}


.menu
{
    height: 88%;
    position: relative;
    list-style: none;
    padding: 0;
}
.menu li{
    padding: 1rem;
    margin: 8px 0;
    border-radius: 8px;
    transition: all 0.5s ease-in-out;
}

.menu li:hover, .active {
    background: #e0e0e058;
}

.menu a {
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu a span {
    overflow: hidden;
}

.menu a i {
    font-size: 1.2rem;
}

.logout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.sidebar:hover {
    width: 240px;
    transition: 0.5s;
}

.main--content {
    flex-grow: 1;
    position: relative;
    background: #ebe9e9;
    width: 100%;
    padding: 1rem;
}

.logout {
    margin-top: 10px;
}

.header--wrapper img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
}

.header--wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background:rgba(113, 99, 186, 255);
    border-radius: 10px;
    padding: 10px 2rem;
    margin-bottom: 1rem;
    height: 200px;

}

.header--title {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}
.header--title p
{
    margin-top: 20px;

}
.header--title span{
    margin-top: 30px;
}
.user--info {
    display: flex;
    align-items: center;
    gap: 1;
}

.search--box {
    background: rgb(237, 237, 237);
    border-radius: 17px;
    color: rgb(113, 99, 186, 255);
    display: flex;
    align-items: center;
    gap: 5px;
}

.search--box input {
    background: transparent;
    padding: 10px;
    border: none;
    outline: none;
}

.search--box i {
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-out;
}

.main--title
{
    text-align: center;
    color:rgba(113, 99, 186, 255);
    font-weight: bold;
    margin-right: 40px;
}
  
.information--container
{
    margin-left: 140px;
}

.card-custom {
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.card-header-custom {
    background-color: #f8f9fa;
    border-radius: 15px 15px 0 0;
    text-align: center;
}
.card-body-custom {
    text-align: center;
    padding: 20px;
}
.icon {
    font-size: 50px;
    color: #6c63ff;
}
.card-title {
    font-size: 24px;
    font-weight: bold;
}
.card-text {
    font-size: 18px;
}

.card-custom:hover
{
    box-shadow: 0px 4px 15px rgb(113, 99, 186, 255);
}

.container h3
{
    color: red;
}

.container h4{
    color:green;
}
.menu li:hover, .active{
    background: #e0e0e058;
}

.menu a{
    color: #fff;
    font-size:  14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap:1.5rem;
}

.menu a span 
{
    overflow:hidden;
}

.menu a i 
{

    font-size:1.2rem; 
}

.logout
{
    position: absolute;
    bottom:0;
    left:0;
    width: 100%;
}
